<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Org</th>
      <th>User</th>
      <th>Name</th>
      <th>Content</th>
      <th>Is private</th>
      <th>Topic type</th>
      <th>Media link</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Deadline date</th>
      <th>Date created</th>
      <th>Date modified</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.channel_id %></td>
        <td><%= topic.org_id %></td>
        <td><%= topic.user_id %></td>
        <td><%= topic.name %></td>
        <td><%= topic.content %></td>
        <td><%= topic.is_private %></td>
        <td><%= topic.topic_type %></td>
        <td><%= topic.media_link %></td>
        <td><%= topic.start_date %></td>
        <td><%= topic.end_date %></td>
        <td><%= topic.deadline_date %></td>
        <td><%= topic.status %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
