<h1>Now Rating "<%= Item.find(@item_id).name %>"</h1>

  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @criteria.each do |criterium| %>

<%= form_for(rating) do |f| %>
  <% @criterium_rating = Criterium.find(criterium.id).ratings.sum(:rating).nonzero? || 1 / Criterium.find(criterium.id).ratings.count(:rating).nonzero? || 1 %>

  <%= f.hidden_field :user_id, value: 1 %>
  <%= f.hidden_field :user_rank, value: 50 %>
  <%= f.hidden_field :status, value: 1 %>
  <%= f.hidden_field :item_id, value: @item_id %>
  <%= f.hidden_field :criterium_id, value: criterium.id %>
    <div class="field">
      <strong><%= f.label criterium.name %>:</strong> <%= @criterium_rating %> 
      <%= f.number_field :rating %> <%= f.submit %>
    </div>	
<% end %>

<% end %>
