<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :status, value: 1 %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
<br>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<br>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
<br>
  <div class="field">
    <%= f.label :media_link %>
    <%= f.text_field :media_link %>
  </div>
<br>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br><br>
