<p id="notice"><%= notice %></p>

<h1>Newsfeed</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>URL</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.content %></td>
        <td><%= item.media_link %></td>
		<td><%= item.ratings.sum(:rating) / item.ratings.count(:rating) %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= button_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

