<p id="notice"><%= notice %></p>

<p>
  <h1><%= @item.name %></h1>
</p>

<p>
  <strong>Summary:</strong>
  <%= @item.content %>
</p>

<p>
  <strong>URL:</strong>
  <%= @item.media_link %>
</p> 

<p>
  <em>Author: <%= @item.author %></em>  
</p>

<p>
  <em>Contributed by: <%= @item.user.name %></em>  
</p>

<br>
 
<% @item.criteria.each do |criterium| %>
  <p><b><%= criterium.name.upcase %>: </b>
	  <%= criterium.ratings.count(:rating) > 0 ? ( criterium.ratings.sum(:rating) / criterium.ratings.count(:rating) ) : 0 %> (<%= criterium.ratings.sum(:rating) %>/<%= criterium.ratings.count(:rating) %>)
  </p>
</tr>
<% end %>


<%= link_to 'Rate This!', new_rating_path(:item => @item) %>

<br><br>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
