<p id="notice"><%= notice %></p>

<p>
  <h1><%= @item.name %> [<%= @item.id %>]</h1>
</p>

<p>
  <strong>Summary:</strong>
  <%= @item.content %>
</p>

<p>
  <strong>URL:</strong>
  <%= @item.media_link %>
</p> 

<p>
  <em>contributed by: <%= @item.user.name %></em>  
</p>

<br>

<% @item.criteria.each do |criterium| %>
  <p><b><%= criterium.name.upcase %>: </b>
	  <%= criterium.ratings.sum(:rating) / criterium.ratings.count(:rating)%> (<%= criterium.ratings.sum(:rating) %>/<%= criterium.ratings.count(:rating) %>)
  </p>
</tr>
<% end %>

<%= button_to 'Rate This!' %>

<br><br>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
