<!DOCTYPE html>
<html>
  <head>
    <title><%= @Title %></title>
    <%= csrf_meta_tags %>
	
    <%= render 'layouts/stylesheets' %>
  </head>

  <body>
	  
	  <div class="container">
		  
		  <header>
			  <%= link_to image_tag("logo-med.png", :alt => "unsensational Logo", :class => "round"), '../' %>
		  </header>
		  
		  <section class="round">
			  <%= yield %>
		  </section>
		  
		  <footer>
			  <nav class="round">
				<div ><%= link_to image_tag("logo-brick.png", :alt => "unsensational Logo", :class => "round"), '../' %></div>
				<div class="deadlinks"><%= link_to "Manage Criteria", '/criteria' %></div>
				<div class="deadlinks"><%= link_to "Manage Users", '/users' %></div>
				<div class="deadlinks"><%= link_to "Newsfeed", '/items' %></div>
				<div class="deadlinks"><%= link_to 'Submit an Article', new_item_path %></div>
			  </nav>
		  </footer>
		  
	  </div>
	  
  </body>
</html>
